{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Samples</h1>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alert Styles
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="alert alert-success">
                    div class="alert alert-success<a href="#" class="alert-link">Alert Link</a>.
                </div>
                <div class="alert alert-warning">
                    div class="alert alert-warning<a href="#" class="alert-link">Alert Link</a>.
                </div>
                <div class="alert alert-danger">
                    div class="alert alert-danger<a href="#" class="alert-link">Alert Link</a>.
                </div>
                <div class="alert alert-info">
                    div class="alert alert-info<a href="#" class="alert-link">Alert Link</a>.
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}