{% extends "base.html" %}

{% block content %}


<br> 
<br>


<!-- Main content -->
<div class="main-content">

{% if not result %}

<div id="start_generator">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            &nbsp; Syncing DB..please wait..
        </button>
    </div>
</div>

{% else %}

    {% if result == 'generator done'%}
    <div class="alert alert-success" role="alert">
        Sync Done
    </div>
    {% elif result == 'generator error' %}
    <div class="alert alert-danger" role="alert">
        Problems
    </div>
    {% endif %}
{% endif %} 


 
</div> <!-- /main content -->

{% endblock %}



