{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Saltstack > Highstate Status</span>
</div>

{% if sync > 60 and sync < 120 %}
<div class="btn btn-warning btn-icon-split float-right">
{% elif sync >= 120 %}
<div class="btn btn-danger btn-icon-split float-right">
{% else %}
<div class="btn btn-info btn-icon-split float-right">
{% endif %}
    <span class="icon text-white-50">
        <i class="fas fa-sync"></i>
    </span>
    <span class="text">synced: {{ sync }} min ago</span>
</div>


<br>
<br>


<!-- Main content -->
<div class="main-content">


       <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Highstate</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Changes</th>
                      <th>Failures</th>
                      <th>Highstate  &nbsp;&nbsp;&nbsp;
                      <span class="badge badge-success">No changes</span> <span class="badge badge-warning">Changes</span> <span class="badge badge-danger">Failures</span></th>
                    </tr>
                  </thead>
                  <tbody>
                
                {% for min in totals %}
                  <tr>
                    <td style="width:250px">{{ min }}</td>
                    <td style="width:80px">
                      {{ totals[min]['changes'] }}
                    </td>
                    <td style="width:80px">
                      {{ totals[min]['failures'] }}
                    </td>
                    <td>
                    {% if totals[min]['summary'] == 'Unavailable' %}
                        Highstate unavailable
                    {% else %}
                         <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#hs_{{ min }}" aria-expanded="false" aria-controls="hs_{{ min }}">
                        View Full Highstate
                        </button>
                        &nbsp;&nbsp; <span class="alert alert-success">{{ totals[min]['nochanges'] }}</span>
                        &nbsp;&nbsp; <span class="alert alert-warning">{{ totals[min]['changes'] }}</span>
                        &nbsp;&nbsp; <span class="alert alert-danger">{{ totals[min]['failures'] }}</span>
                        </p>
                        <div class="collapse" id="hs_{{ min }}">
                        <div class="card card-body">
                        {% for item in totals[min]['summary'] %}
                          {% if totals[min]['summary'][item]['result'] == True %}
                          <span class="alert alert-success">
                          {% elif totals[min]['summary'][item]['result'] == None %}
                          <span class="alert alert-warning">
                          {% elif totals[min]['summary'][item]['result'] == False %}
                          <span class="alert alert-danger">
                          {% endif %}

                          <b>name</b> {{ totals[min]['summary'][item]['name'] }}<br>
                          <b>comment</b> {{ totals[min]['summary'][item]['comment'] }} <br>
                          <b>formula</b> {{ totals[min]['summary'][item]['__sls__'] }}<br>
                          </span>

                        {% endfor %}
                      
                        </div>
                        </div>

                       
                    {% endif %}
                      </td>
                    </tr>

                
                {% endfor %}
                 
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
	

 
</div> <!-- /main content -->

{% endblock %}



