{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{ header }}</h1>
</div>


<div class="row">
  <div class="col-lg-6">
      <div class="panel panel-default">
          <div class="panel-heading">
        
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
          {% if msg %}
          {{ msg }}
          {% endif %}
          </div>
      </div>
  </div>
</div>


{% endblock %}